@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    菜单名称:&nbsp;
    @Html.TextBox("菜单名称", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的菜单名称" })
</label>

<script>
    function Search() {
        var Params = v("菜单名称");
        return Params;
    }
</script>
