@{
    Layout = "";
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>出错了</title>
    <link href="~/Content/error.css" rel="stylesheet" />
</head>



<body id="e404">

    <div id="content2">
        <div id="wrapper">
            <h1 class="e404">页面去火星了</h1>
            <h2>很抱歉，您的访问出现错误，程序猿正在努力抢修!</h2>
            <a href="/" class="gohome">回首页</a>
        </div>
    </div>

</body>
</html>


