<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="../plugin/app.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/applicationMeeting.css">
    <link rel="stylesheet" type="text/css" href="../css/weui.min.css">


</head>

<body>
    <div class="weui-navbar">
        <div class="colortitle weui-navbar__item1">
            <div class="weui-flex ">
                <div style="width: 48px">
                    <div class="placeholder">

                    </div>
                </div>
                <div class="weui-flex__item">
                    <div class="placeholder">账号绑定</div>
                </div>

                <a href="javascript:;" class="weui-btn1 weui-btn_mini">&nbsp;&nbsp;&nbsp;&nbsp;</a>

            </div>
        </div>

    </div>
    <div class="weui-tab__bd">
        <div class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="card facebook-card" style="margin-top: 30px">
                <div class="weui-cells">
                    <div class="weui-cells__title">欢迎进入账号绑定 </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">要绑定的账号</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" name="bind_user_student-stu_id" onkeypress="checkForm(function() { $('#bind').click() })" type="text" placeholder="请输入学号/工号">
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="weui-btn weui-btn_primary" style="width: 90%; height: 35px; line-height: 35px; margin-top: 20px" id="bt-bind">提交</a>


        </div>
    </div>

</body>
</html> 