<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="../plugin/app.js"></script>

   
</head>

<body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">
            <!-- Top Navbar-->
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                    <div class="center sliding" style="left: 150px;">登陆</div>
                </div>
            </div>
            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, "data-page" contains page name -->
                <div data-page="index" class="page">
                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="page-content">
                            <div class="content-block-title">欢迎登陆 App </div>
                            <form class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">用户名</div>
                                                <div class="item-input">
                                                    <input id="uid" value="xiongyingjie" onkeypress="checkForm(function() { $('#login').click() })" type="text" placeholder="用户名">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">密码</div>
                                                <div class="item-input">
                                                    <input  id="psw" type="password" placeholder="密码">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">&nbsp;</div>
                                                <div class="item-button">
                                                    <a id="login">登陆</a> 
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</body>
</html> 