
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>报表引擎</title>
    <script src="../plugin/app.js"></script>
   </head>
<body>
<!-- Event Container -->
<div id="e-title"></div>
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <!--<div class="col-lg-12">
            <h2 style="padding-bottom: 10px; color: rgb(99, 99, 99); font-size: 19px; margin-top: 8px; font-family: '微软雅黑';">
                <button class="btn btn-primary btn-sm" id="bt_back" style="float: right; margin-top: -3px;"> 返回</button>
            </h2>
        </div>-->
        <!-- /.col-lg-12 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-pd" id="tool-bar">
                                        <a class="btn btn-warning Query" id="bt_query">
                                            刷新
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a data-url="" id="bt_add" class="btn btn-success qx-menu">
                                            添加
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a  id="bt_delete" class="btn btn-danger Delete">
                                            删除
                                            <i class="fa fa-remove"></i>
                                        </a>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                导出
                                                <i class="fa  fa-cloud-download"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a class="ToExcel" id="bt_toExcel">
                                                        <i class="fa  fa-file-excel-o"></i>
                                                        Excel
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="ToPdf" id="bt_toPdf">
                                                        <i class="fa  fa-file-pdf-o"></i>
                                                        PDF
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="btn-group" id="bt_import">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                导入
                                                <i class="fa fa-cloud-upload"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a class="DonwnloadExcel" id="bt_donwnloadExcel">
                                                        <i class="fa   fa-arrow-circle-down"></i>
                                                        下载模板
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <input style="filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; float: left; position: absolute;" type="file" id="bt_uploadExcel"/>
                                                        <i class="fa  fa-arrow-circle-up"></i>
                                                        上传表格
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>

                                        <a id="extra-bt-container">

                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <a style="color: red" id="extra_tip-container"></a>
                            </div>
                            <br/>
                            <ul class="list-ul" id="mainForm"></ul>
                            <div class="table-div">
                                <div id="callBackPagination" class="piece">
                                    <div id="mainContent"></div>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-md-5 col-sm-12">
                                    <div class="dataTables_info" id="sample_1_info">当前显示 <span id="lb_fromIndex">*</span>- <span id="lb_toIndex">*</span>记录
                                    </div>

                                </div>
                                <div id="callBackPager"></div>
                            </div>
                        </div>

                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!--新加的js-->
    <!--./新加的js-->
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- /.container-fluid -->
</body>
</html>
