
@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    消息类型:&nbsp;
    @Html.TextBox("消息类型", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询消息类型ID" })
</label>

<script>
    function Search() {
        var Params = v("消息类型");
        return Params;
    }
</script>
