@using Qx.Tools.Web.Mvc.Html
@model Web.Areas.Permission.ViewModels.CRUD.UserRoleAdd_M
@{
    Layout = ViewData["Layout"].ToString();
}


@Html.InputFor(o => o.userid)

@Html.InputFor(o => o.roleid,"",true)

<a href="/Permission/Admin/ChooseRoleList?ReportID=Permision_选择分配角色&Params=;&userid=@Model.userid">选择分配角色</a>

@Html.InputFor(o => o._rolename)

@Html.InputAreaFor(o => o.note)