@model Web.Areas.WeChat.ViewModels.Web.Authorize_M
@{
    Layout = "";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>请稍后...</title>
     <script type="text/javascript">
        function jump() {
            location.href = "@(new HtmlString(Model._Url))";
        }

       
    </script>
    <script type="text/javascript">
        window.onload = function() {
            jump();
        }
    </script>
</head>

<body  id="e404">
    <div onclick="jump()" id="content2">
        <div id="wrapper">
            <h1 class="e404">加载中..</h1>
            <h2>若3秒后未跳转，请点击重试</h2>
            <a  class="gohome">重试</a>
        </div>
    </div>
</body>
</html>


