




@section scripts{
    <script type="text/javascript">

      // Path to the blank image must point to a valid location on your server
      Ext.BLANK_IMAGE_URL = 'ext/resources/images/default/s.gif';

      // Main application entry point
      Ext.onReady(function() {
          // write your application here
      Ext.Msg.alert("Hello world!");
      //for firebug
      console.info('woohoo!!!');

      });

</script>
}
<div id="myDiv">myDiv</div>