




@section scripts{
    <script type="text/javascript" language="javascript">

     /*
     var myDiv = document.getElementById('myDiv');
     alert(myDiv.innerHTML);
     */
     //after on load

     window.onload = function() {
         var myDiv = document.getElementById('myDiv');
         alert(myDiv.innerHTML);
     }
</script>

}
<div id="myDiv">myDiv</div>
