<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WeiBo.Properties.Settings.weibo_ConnectionString"
            connectionString="Data Source=qxamoy.com,10385;Initial Catalog=ecampus.yxxt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>