@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    我的发件箱:&nbsp;
    @Html.TextBox("发件箱", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的消息主题" })
</label>

<script>
    function Search() {
        var Params = v("发件箱");
        return Params;
    }
</script>

