.PlayList{
	width:100%;
	height:460px;
	overflow: hidden;
	border-top:2px solid #076ce0;
	position:relative;
	z-index: 0;
}

.images ul{
	width:100%;
	height:460px;
	overflow:hidden;
	position:relative;
	text-align:center;
}
.images ul li{
	display: none;
	height:460px;
	text-align:center;
}
.img{
	width:100%;	
}
.showWhat{
	display:block !important;	
}

.arrow{
	position:absolute;
	top:200px;	
	z-index: 20;
	width:80px;
	height:80px;
	opacity: 0.2;
	cursor: pointer;
}
#prev{	
	left:30px;
}
#next{	
	right:30px;	
}