*{
	margin:0;
	padding:0;
	outline: 0;	
}

a{
	text-decoration: none;
	color:#222222;
}

ul li{
	text-decoration: none;
	list-style: none;	
	/*color: #222222;*/
}

body {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    font-family: 微软雅黑;
    color: #222222;
    background: #fff;
}

.wrapper{
	margin:0 auto;
	width:100%;
}

.header{
	width:1100px;
	/*height:150px;*/
	margin:10px auto;
	overflow:hidden;
}
.Logo{
	width:300px;
	/*height:150px;*/
	padding:10px ;
	margin-right: 10px;
	float:left;
	overflow: hidden;
}
.Logo img{
	width:285px;
	height:90px;
}
.culture{
	width:220px;
	color:#1e50ae;
	font-size:28px;
	margin-right:5px;
	font-weight: bolder;
	letter-spacing:1px;
}

.Logo a+a{
	width:120px;
	font-size:20px;
	color:darkgrey;	
	font-weight: bold;
	letter-spacing: -1px;
	padding:20px 0 0;
}

.Column{	
	width:550px;
	/*height:150px;*/
	padding:30px 0;
	float:left;
	overflow: hidden;
	margin-right: 10px;
}

.Column ul li{
	width:110px;
	padding:5px 10px 0;
	font-size:18px;
	float:left;
	text-align: center;
}
.toShort{
	width:50px !important;
	}
.toLong{
	width:150px !important;
}

.current a{
	color:#076ce0 !important;
}

.Column ul li a:hover{
	color:#076ce0 !important;s
}



.Telephone{
	width:200px;
	/*height:120px;*/
	padding:25px 0;
	float:left;
}

.Telephone p+p{
	color:#076CE0;
	font-size:20px;
	font-weight: bold;
	margin-top:4px;
}




footer{
	background:gainsboro;
	width:100%;
	padding:50px;
	text-align: center;
}
footer:last-child{
	color:grey;
}

footer a{
	margin:0 5px;
}
footer a:hover{
	text-decoration: underline;
	color:#076CE0;
}
