h1.title{
    text-align: center;
}
h1.title span{
    color: #CCC;
}

.container{
    width: 100%;
    height: 60px;
}
.container .title{
    height: 20px;
    background-color: #b3d4fc;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.container .content{
    height: 40px;
    background-color: #0000FF;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
}

h3{
    text-align: center;
    color: #FF0000;
}
div{
    text-align: center;
}