
@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    门票列表:&nbsp;
    @Html.TextBox("门票列表", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的门票列表" })
</label>

<script>
    function Search() {
        var Params = v("门票列表");
        return Params;
    }
</script>
