@{
    Layout = ViewData["Layout"].ToString();
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-lg-2">
        <label>用户姓名</label>
    </div>
    <div class="col-lg-10">
        @Html.TextBox("用户姓名", "", new { PlaceHolder = "请输入要查询的用户姓名" })
    </div>
</div>
@*必须添加*@
@Html.Partial("_Report2", new ViewDataDictionary(ViewData)
{
{"showDeafultButton",true}
})
<script>
    function Search() {
        var Params = v("用户姓名");
       return Params;
    }
</script>