@{
    Layout = "~/Views/Shared/_Sb2AdminLayout.cshtml";

}
@section css
{
    <style type="text/css">
    .party-container {
        width: 1000px;
        height: 600px;
        margin: 0 auto;
    }

    .party-really {
        position: absolute;
        left: 63%;
        top: 125px;
    }

        .party-really p {
            padding-left: 10px;
        }

    .party-sub {
        position: absolute;
        top: 260px;
        left: 24%;
        font-size: 18px;
        color: rgb(69,69,69);
    }

    .party-list {
        position: absolute;
        left: 35%;
        top: 240px;
    }

    .party-willing {
        position: absolute;
        left: 42%;
        top: 200px;
    }

        .party-willing p {
            padding-left: 10px;
        }

    .party-finish {
        position: absolute;
        left: 48%;
        top: 200px;
    }

        .party-finish div {
            width: 100%;
            border: 1px solid rgb(200,200,200);
            padding: 10px 10px;
        }

    .party-sta-one {
        position: absolute;
        left: 45%;
        top: 320px;
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
    }

    .party-sta-two {
        position: absolute;
        left: 74%;
        top: 320px;
        transform: rotate(210deg);
        -ms-transform: rotate(210deg);
        -moz-transform: rotate(210deg);
        -webkit-transform: rotate(210deg);
        -o-transform: rotate(210deg);
    }

    .party-sta-three {
        position: absolute;
        left: 60%;
        top: 440px;
        transform: rotate(-100deg);
        -ms-transform: rotate(-100deg);
        -moz-transform: rotate(-100deg);
        -webkit-transform: rotate(-100deg);
        -o-transform: rotate(-100deg);
    }

    .party-sta-four {
        position: absolute;
        left: 70%;
        top: 135px;
        transform: rotate(100deg);
        -ms-transform: rotate(100deg);
        -moz-transform: rotate(100deg);
        -webkit-transform: rotate(100deg);
        -o-transform: rotate(100deg);
    }

    .party-sll {
        position: absolute;
        left: 40%;
        top: 400px;
    }

        .party-sll div {
            width: 100%;
            border: 1px solid rgb(200,200,200);
            padding: 10px 10px;
        }

    .party-active {
        position: absolute;
        left: 52%;
        top: 400px;
    }

        .party-active p {
            padding-left: 8px;
        }

    .party-ready {
        position: absolute;
        left: 76%;
        top: 200px;
    }

        .party-ready p {
            padding-left: 8px;
        }

    .party-wlss {
        position: absolute;
        left: 83%;
        top: 200px;
    }

        .party-wlss div {
            width: 100%;
            border: 1px solid rgb(200,200,200);
            padding: 10px 10px;
        }

    .party-jsllll {
        position: absolute;
        left: 75%;
        top: 400px;
    }

        .party-jsllll div {
            width: 100%;
            border: 1px solid rgb(200,200,200);
            padding: 10px 10px;
        }

    .party-write {
        position: absolute;
        left: 67%;
        top: 400px;
    }

        .party-write p {
            padding-left: 8px;
        }
</style>
}
<blockquote class="layui-elem-quote">
    @ViewData["uid"], <a href="/report/index">欢迎进入趣学软件-云平台</a>
</blockquote>
<br/>
<div class="container-fluid">
    <div class="row positionPart">
        <div class="party-container">
            <div class="party-really">
               
                <img src="~/Content/Acounnt/img/forbid_button.png" width="70px" height="60px"><br>
                <a class="btn btn-success" href="#" role="button">设置禁用按钮</a>
            </div>
            <div class="party-sub">

                <a class="btn btn-success qx-menu"  data-title="用户管理" data-url="/Permission/Admin2/UserList" role="button">添加用户</a>

            </div>
            <div class="party-list">
                <img src="~/Content/Acounnt/img/partyList.png">
            </div>
            <div class="party-willing">
                <img width="70px" height="60px" src="~/Content/Acounnt/img/user.png" />

                <a class="btn btn-success qx-menu"  data-title="角色管理" data-url="/Permission/Admin2/RoleList" href="#" role="button">添加角色</a>
            </div>

            <div class="party-sta-one">
                <img src="~/Content/Acounnt/img/partySta.png">
            </div>
            <div class="party-active">
                <img width="70px" height="60px" src="~/Content/Acounnt/img/menu.png" />
                <a class="btn btn-success qx-menu"  data-title="用户菜单" data-url="/Permission/Admin2/MenuList"  href="#" role="button">添加菜单</a>
            </div>
            <div class="party-ready">
                <img src="~/Content/Acounnt/img/user_role.png" width="70px" height="60px"><br>
                <a class="btn btn-success"  href="#" role="button">分配角色</a>
            </div>

            <div class="party-sta-two">
                <img src="~/Content/Acounnt/img/partySta.png">
            </div>

            <div class="party-write">
                <img src="~/Content/Acounnt/img/button.png" width="70px" height="60px"><br>
                <a class="btn btn-success"   href="#" role="button">添加按钮</a>
            </div>
            <div class="party-sta-three">
                <img src="~/Content/Acounnt/img/partySta.png">
            </div>
            <div class="party-sta-four">
                <img src="~/Content/Acounnt/img/partySta.png">
            </div>
        </div>
    </div>
</div>

