@{
    Layout = "~/Views/Shared/_Sb2AdminLayout.cshtml";

}
<blockquote class="layui-elem-quote">
  @ViewData["uid"], <a href="/report/index">z</a>
</blockquote>
<fieldset class="layui-elem-field layui-field-title site-demo-button" style="margin-top: 30px;">
    <img src="~/Content/Acounnt/img/海报.jpg" width="100%" height="100%"/>
</fieldset>


@*<script src="~/Include/FrameWork/js/framwork-loader.js"></script>*@