@{
    Layout = "/Areas/Contents/Views/Shared/_MyLayOut.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Easy Table - Make your Table Easy</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="~/Content/EasyTable/jquery.edittable.css" rel="stylesheet" />
    @*<link href="~/Content/EasyTable/changerow.css" rel="stylesheet" />*@
    <script src="~/Content/EasyTable/jquery.edittable.js"></script>
    @*<link href="~/Content/EasyTable/main.css" rel="stylesheet" />*@
    <script src="~/Content/EasyTable/myEasyTable.js"></script>

    <script src="~/Include/KindEditor/kindeditor-all-min.js"></script>
    <script src="~/Include/KindEditor/lang/zh-CN.js"></script>

</head>
<body>
    <!--创建默认表格-->
    <div>
        <h1>新建内容表格</h1>
        <p>表格名称：<input type="text" class="form-control" id="tableName" name="tableName" placeholder="请填写表名" required style="width:30%"></p>
    </div>

    <div id="default_table">
        <span class="label label-info">表格说明：当前为默认表格的格式，按照需求增加行与列，其中第一行为列名【默认所有字段均为string类型】</span>
        <div id="defaulttable"></div>
        <a href="#" class="btn btn-success" id="sendJson_default">保存并完成数据录入</a>
        @*<a href="#" class="loadjson button" id="loadJson">Load JSON from textarea</a>*@
        <a href="#" class="btn btn-warning" id="reset">重置表格</a>
    </div>

    <hr style="height:3px;border:none;border-top:3px double red;" />

    <p>
        <a class="btn btn-success" id="highlevel_selct">高级选项</a>

        <a class="btn btn-warning" id="default_selct" style="display:none">返回默认</a>
    </p>
    <p id="highlevel_declare" class="label label-info">选项说明：创建自定义的表格【可选数据类型】</p>

    <hr/>
    

    <!--创建自定义表格-->

    <div style="display:none" id="high_level_table">

        <div id="highleveltable"></div>
        <a href="#" class="btn btn-success" id="sendJson_high">创建内容表格</a>
        @*<a href="#" class="sendjson button" id="sendJson_high2">开始创建横向表格式表格【多行录入】</a>*@
        <input type="text" value="" id="high_column" name="high_column" hidden />
    </div>

    <div style="display:none" id="self_define_table">
        <span class="label label-info">表格说明：当前为自定义表格的格式，按照需求增加行与列，其中第一行为列名</span>
        <p><a href="#" class="reset button" id="reset_refersh">刷新控件[控件加载失败/未加载时请点击]</a></p>
        <div id="selfdefinetable"></div>
        <a href="#" class="btn btn-success" id="sendJson_self">保存并完成数据录入</a>
        @*<a href="#" class="loadjson button" id="loadJson_self">Load JSON from textarea</a>*@
        <a href="#" class="btn btn-warning" id="reset_self">重置表格</a>

    </div>

    
</body>
</html>  