.header .headerM h3 .city
{
	margin: 0 6% 0 8%;
	font-size: 0.9em;
}
.header .headerM  img
{
	vertical-align: middle;
	width: 20px;
	height: auto;
}




.main-banner
{
	width: 100%;
	overflow: hidden;
	position: relative;
}


.main-bannerBox
{
	width: 400%;
}

.main-bannerBox a
{
	display: block;
	float: left;
	width: 25%;
}

.main-bannerBox a img
{
	width: 100%;
	height: auto;
}

.main-banner ol
{
	width: 80px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -40px;
	zoom: 1;
	overflow: hidden;
}
.main-banner ol li
{
	float: left;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background: white;
}
.bannerOlActive
{
	background: red;
}


.main-sec-h 
{
	margin: 15px 4%;
}

.main-sec-h h3
{
	font-size: 1.6em;
}

.main-reco-c 
{
	width: 100%;
	background: white;
	padding: 10px 3%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.main-reco-box
{
	width: 400%;
	position: relative;
	left: 0;
}

.main-reco-box a
{
	display: block;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 1%;
}

.main-reco-box a img
{
	width: 100%;
}

.main-reco-box a h3
{
	font-size: 1.6em;
}

.main-reco-box a p
{
	font-size: 1.4em;
}

.reco-left-icon
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgba(0,0,0,0.7);
	color: white;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 2%;
	margin-top: -15px;
}
.reco-right-icon
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgba(0,0,0,0.7);
	color: white;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 50%;
	right: 2%;
	margin-top: -15px;
}








.Aintroduce
{
	background:#FFF;
	margin-top:2px;
	font-size:1.2em;
	padding: 10px 6%;
	box-sizing: border-box;
}
.Aintroduce p
{
	line-height: 20px;
}
.Aintroduce h2
{
	text-align:center;
	margin: 10px 0;
}


.Aintroduce.motion
{
	color:#03F;
	cursor:help;
}