<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>拾物详情</title>

    <link href="~/Content/LostAndFound/css.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <div class="found">
        <div class="head">
            <div class="left">
                <a href=""><b>&nbsp;< &nbsp;</b></a>
            </div>
            <div class="middle">
                <p>拾物详情</p>
            </div>
            <div class="right">
                <p></p>
            </div>

        </div>
        <div class="main">
            <div class="the-message">
                <p><b>[招领启事]</b>&nbsp;兑山艺术区：拾到小熊一只</p>
                <p><span>发表于：2016-11-10</span></p><br />
                <p>物品种类：宠物</p>
                <p>物品描述：一只棕色小熊</p>
                <p>拾物地点：华侨大学>兑山艺术区</p>
                <p>详细地址：中创8号</p>
                <p>拾物时间：2016-11-10</p>
                <p>联系人：小马</p>
                <p>联系电话：132222222</p>
                <p>酬谢方式：现金酬谢</p>
                <p>图片：<img src="" /></p>
                <p>拾物详细描述：啊实打实大声道</p>
            </div>

        </div>

    </div>



</body>
</html>