
@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    通讯组类型:&nbsp;
    @Html.TextBox("通讯组类型", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询通讯组类型ID" })
</label>

<script>
    function Search() {
        var Params = v("通讯组类型");
        return Params;
    }
</script>
