
@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    用户:&nbsp;
    @Html.TextBox("用户", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查的询用户ID" })
</label>

<script>
    function Search() {
        var Params = v("用户");
        return Params;
    }
</script>
