<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>App</title>
    <script src="../plugin/app.js"></script>
    <style>
        .example .device {
            margin: 0 auto;
            position: relative;
            background: #111;
            box-shadow: 0px 0px 0px 2px #aaa;
            z-index: 1000;
            padding: 100px 30px;
            border-radius: 55px;
        }

        .example .device-v {
            padding: 100px 30px;
        }

        .example .device-left {
            float: left;
            margin: 0;
            margin-right: 40px;
        }
    </style>
</head>
<body>
    <div class="content center" style="width:100%">
        <div style="width:380px;margin:0 auto" class="example">
            <div class="device device-left device-v">
                <iframe width="414" height="736" scrolling="yes" frameborder="0" src="index-m.html"></iframe>
            </div>
        </div>
    </div>
</body>
</html>




