@charset "utf-8";
/* CSS Document */

/*---------------------------------------*/
.myorder{
	z-index:10;
	margin-top:80px;
	overflow:scroll;
	background:#F2F2F2;
	
}
.result{
	margin-top:2px;
	height:50px;
	text-align:center;
	font-size:1.4em;
	margin-bottom:2px;
}
#unfinish{
	background:#FFFFFF;
	float:left;
	width:49.7%;
	line-height:50px;
}
.Hover{
	color:#F00;
	border-bottom:2px solid #F00;
}
#finish{
	background: #FFFFFF;
	float: left;
	margin-left:0.6%; 
	width: 49.7%;
	line-height: 50px;
}
.unfinishmore ul li
{
	background:#FFF;
	height:100px;
    width:92%;
	margin:4%
}
.unfinishmore ul li p
{
	line-height:50px;
	padding-left:5%;
}
.finishmore ul li
{
	background:#FFF;
	height:100px;
    width:92%;
	margin:4%
}
.finishmore ul li p
{
	line-height:50px;
	padding-left:5%;
}
