
body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color:#f8f8f8;
  overflow:hidden;
}
.pubilice-uppad{
  padding-top:20px;
}
.pubilice-leftrightpad{
	padding:0 5%;
}
.colortitle{
	background-color:#1aad19;
	
}
.header
{
	height:51.59px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background:#1aad19;
	color: white;
	z-index:100;
	
}

.content
{   position: absolute;
    top:51.59px;
    bottom:0px;
	  left: 0;
	  background: #f3f3f3;
	  width: 100%;
     
	
}
.suojin{
	text-indent:2em;
}