*
{
	margin: 0 0;
	padding: 0 0;
}



body
{
	font-family: "微软雅黑",arial;
	font-size: 62.5%;
	cursor: default;
	scroll:no;
	background:#f3f3f3;
}

ul li
{
	list-style-type: none;
	display: block;
}

dl dd dt
{
	display: block;
	margin: 0 0;
	padding: 0 0;
}
ol li
{
	list-style-type: none;
	display: block;
}




/*-----------------------*/
.header
{
	height: 53px;
	width: 100%;
	background: ;
	position: fixed;
	top: 0;
	left: 0;
	background: #e41b46;
	color: white;
	z-index:100;
}

.headerL
{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 1.8em;
	line-height: 53px;
}

.headerL .returnIcon
{
	height: 18px;
	width: auto;
	vertical-align: middle;
}


.header .headerM h3
{
	width: 30%;
	height: 53px;
	line-height: 53px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.8em;
}

.headerR
{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.8em;
	line-height: 53px;
}

.content
{
	position: absolute;
	top: 53px;
	left: 0;
	background: #f3f3f3;
	width: 100%;
	
}
