 @{
     var keyword = ViewData["keyword"];
}
<!----------地图--------->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fKmRVnUoPewjWkmqfI0jFyB5KRkVzPTj	"></script>
<body >
<div >
   <input id="text_" type="hidden" value="宁波天一广场" style="margin-right: 100px;"/>
    <input id="result_" type="hidden"/>
    @*<input type="button" value="查询" onclick="searchByStationName();"/>*@
</div>
    <div id="container"
         style="position: absolute;
                margin-top:30px;
                width: 530px;
                height: 390px;
                top: 10px;
                border: 1px solid gray;
                overflow:hidden;">
    </div>
</body>
<script type="text/javascript">
    var map = new BMap.Map("container");
    map.centerAndZoom("宁波", 20);
    map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
    map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
    map.addControl(new BMap.OverviewMapControl({ isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));   //右下角，打开

    var localSearch = new BMap.LocalSearch(map);
    localSearch.enableAutoViewport(); //允许自动调节窗体大小
    function searchByStationName(keyword) {
    map.clearOverlays();//清空原来的标注
    
    localSearch.setSearchCompleteCallback(function (searchResult) {
        var poi = searchResult.getPoi(0);
        document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat;
        //alert(poi.point.lng + "," + poi.point.lat);
        map.centerAndZoom(poi.point, 20);
        var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    });
    localSearch.search(keyword);
}

    $(document).ready(function() {
        searchByStationName('@keyword');
       // alert('@keyword');
    });
</script>

<!----------地图--------->