<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Qx Framwork v2.0</title>
    <!-- jQuery -->
    <script src="~/Include/startbootstrap-sb-admin-2-master/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Include/startbootstrap-sb-admin-2-master/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Include/startbootstrap-sb-admin-2-master/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Include/startbootstrap-sb-admin-2-master/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Include/startbootstrap-sb-admin-2-master/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Include/startbootstrap-sb-admin-2-master/dist/js/html5shiv.js"></script>
        <script src="~/Include/startbootstrap-sb-admin-2-master/dist/js/respond.min.js"></script>
    <![endif]-->
    @RenderSection("css", required: false)
</head>
<body>
<div id="wrapper" class="container">
    @RenderBody()
</div>
       
        <!-- /#wrapper -->

        <!-- Bootstrap Core JavaScript -->
        <script src="~/Include/startbootstrap-sb-admin-2-master/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/Include/startbootstrap-sb-admin-2-master/vendor/metisMenu/metisMenu.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="~/Include/startbootstrap-sb-admin-2-master/dist/js/sb-admin-2.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
