<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>请稍后...</title>

    <script language="javascript">
        var debug = true;
        var secs = debug ? 3 : 0; //倒计时的秒数

        var app = "{app}";//sys
        var uid = "{uid}";//1325112033 
        var roleString = "{roleString}";
        var app = debug ? app : '{$_W["current_module"]["name"]}';
        var uid = app + debug ? uid: '-{$_W["siteroot"]}-{$_W["uid"]}';
        var roleString = debug ? roleString : '{$roleString}';

        if (app === "{app}" || uid === "{uid}" || roleString === "{roleString}") {
            alert("警告:没有指定要启动的应用，请到pc入口文件init.html中配置");
            throw SyntaxError();
        }
        var URL = '/addons/' + app + '/template/pages/login-auto.html?userId=' + uid + '&roleString=' + roleString + "&subSys=" + app;  
        function Load() {
            for (var i = secs; i >= 0; i--) {
                window.setTimeout('doUpdate(' + i + ')', (secs - i) * 1000);
            }
        }
        function doUpdate(num) {
            if (num == 0) { window.location.replace(URL); reutrn; }
            document.getElementById('ShowDiv').innerHTML = (debug ? 'debug:' : '') + '<span style="color:red;">' + (100 - Math.round((num + 0.00001) * 100 / secs)) + '%</span>';
   }
    </script>
</head>

<body onload='Load()'>
    <h2 class="page-header" id="ShowDiv" style="text-align: center;margin-top:350px;"></h2>
</body>
</html>
