@charset "utf-8";

body {
	backgroud: #fff;
	font-family: Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, sans-self;
}
.content_b {
	overflow: hidden;
	min-width: 320px;
	max-width: 540px;
	position: relative;
}
div.about_1 {
	width: 100%;
	height: 220px;
	background: url(../imges/about_img.jpg) center center no-repeat;
	background-size: cover;
}
div.content, div.content1 {
	background: url(../imges/about_img2.jpg) no-repeat 0 0;
	height: 40px;
	text-align: center;
}
div.content img {
	height: 50px;
	width: 251px;
}
div.content1 img {
	height: 50px;
	width: 217px;
}
div.content p span, div.content1 p span {
	color: #666;
	font: normal 13px "微软雅黑"
}
div.content_box p {
	font: normal 16px/28px "微软雅黑";
	color: #666;
	text-align: justify;
	margin: 0 20px;
}
div.url_box {
	background: #e8e9e9;
	height: 40px;
	margin: 0 20px;
}
div.url_box p {
	float: left;
	display: block;
	height: 35px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
	color: #666;
	font-size: 15px;
	font-family: "微软雅黑";
	line-height: 15px;
}
div.url_box p span {
	font: normal 13px "微软雅黑";
}