@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    查询编号:&nbsp;
    @Html.TextBox("查询编号", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的查询编号" })
</label>

<script>
    function Search() {
        var Params = v("查询编号");
        return Params;
    }
</script>