@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    控件编号:&nbsp;
    @Html.TextBox("控件编号", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的控件编号" })
</label>

<script>
    function Search() {
        var Params = v("控件编号");
        return Params;
    }
</script>