@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    景区名称:&nbsp; 
    @Html.TextBox("景区名称", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的景区名称" })
</label>

<script>
    function Search() {
        var Params = v("景区名称");
        return Params;
    }
</script>
