<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>帮助中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link href="~/Areas/WeChat/Content/BookeTicket/css/demos.css" rel="stylesheet" />
    <link href="~/Areas/WeChat/Content/BookeTicket/css/example.css" rel="stylesheet" />
    <link href="~/Areas/WeChat/Content/BookeTicket/css/weui.css" rel="stylesheet" />
    <link href="~/Areas/WeChat/Content/BookeTicket/css/weui.min.css" rel="stylesheet" />
    <link href="~/Areas/WeChat/Content/BookeTicket/css/jquery-weui.css" rel="stylesheet" />
</head>

<body>

        @(new HtmlString((string)ViewData["html"]))

</body>
</html>
