@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    用户信息编辑:&nbsp;
    @Html.TextBox("用户信息编辑", "", new { @class = "form-control input-sm", PlaceHolder = " " })
</label>

<script>
    function Search() {
        var Params = v("用户信息编辑");
        return Params;
    }
</script>
