@model  Web.Areas.WeChat.ViewModels.BookTicket.Activate_M

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <link href="~/Areas/WeChat/Content/BookeTicket/css/public.css" rel="stylesheet" />
    <link href="~/Areas/WeChat/Content/BookeTicket/css/订单详情.css" rel="stylesheet" />
    <title>激活结果</title>
</head>

<body>


    <div class="content">
        <p>@Model.state</p>
    </div>
</body>
</html>
