@model Web.Areas.Contents.ViewModels.CCD_M
@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    内容表名称:&nbsp;
    @Html.DropDownListFor(o => o.CTD_ID, Model.CTDselectItems, new { @class = "form-control input-sm" })
</label>


<script>
    function Search() {
        var Params = "";
        if (t('CTD_ID') == '请选择')
            alert('请选择内容表名称');
        else
            Params = $('#CTD_ID').val()+';' + t('CTD_ID');
        return Params;
    }
</script>