<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>无标题文档</title>
    <script src="../plugin/app.js"></script>
    <link href="style_css/aboutxinai_css.css" rel="stylesheet" type="text/css">
    <link href="style_css/reset.css" rel="stylesheet" type="text/css">
    <script src="../plugin/app.js"></script>
</head>

<body>
    <div class="content_b">
        <div class="about_1 clear"></div>
        <div class="bk20"></div>
        <div class="content"><img src="imges/about_img3.jpg" /></div>
        <div class="bk15"></div>
        <div class="content_box">
            <p>服饰有限公司是一家采用现代化经营，管理模式组建的大型服装企业。公司成立于1995年，占地2万余平方米，现有员600余人，生产设备全部采用来自日本德国、美国最新设备。</p>
        </div>
        <div class="bk20"></div>
        <div class="content_box">
            <p>销售配货采用微机调整管理，公司秉承诚信经营，品质为本，构销连锁，合作共赢的经营理念，96年在中国推出品牌服饰，多年来凭借香港最新咨询优势。</p>
        </div>
        <div class="bk20"></div>
        <div class="content_box">
            <p>产品以精致、高雅、经典、时尚的风格，逐步赢得各个阶层女性的青睐，几年来在公司强有力职业团队的推动下，销售网络遍布华中、华北、西北、东北，为适应公司迅速发展的需要，公司进一步调整和完善了“生产管理中心、营销策划中心、产品研发中心”三大模块。</p>
        </div>
        <div class="bk20"></div>
        <div class="content1">
            <img src="imges/about_img3.jpg" />
        </div>
        <div class="bk15"></div>
        <div class="url_box">
            <p>公司<br/><span></span></p>
        </div>
        <div class="bk20"></div>
        <div class="content_box">
            <p>秉乘诚信经营，品质为本，构销连锁，合作共赢的经营理念，产品要求精致、高雅、经典、时尚，实现心爱花王公司愿景：成为中国优秀的服装企业，成为行业领先的服装公司。</p>
        </div>
    </div>
</body>

</html>
