<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>所有产品</title>
    <script src="../plugin/app.js"></script>
    <link href="style_css/all products_css.css" rel="stylesheet" type="text/css">
    <link href="style_css/reset.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="content_box">
        <div class="banner_box clear"></div>
        <div class="main_content">
            <div class="main_title">
                <div class="main_soild"></div>
                <div class="main_tit"><i><img src="imges/wenzi.png"></i></div>
            </div>
        </div>
        <div class="bk5"></div>
        <div class="allproducts_box" id="list_goods">
        
            <!--<div class="products2">
                <a href="#"><img src="imges/product2.jpg"></a>
                <a href="#" title="2015秋装新款韩版宽松长袖T恤女上衣服大码女装拼接打底衫">2015秋装新款韩版宽松长袖T恤女...<br/><span>¥49</span><i>详  情</i></a>
            </div>
            <div class="products1">
                <a href="#"><img src="imges/product3.jpg"></a>
                <a href="#" title="2015秋装新款韩版宽松长袖T恤女上衣服大码女装拼接打底衫">2015秋装新款韩版宽松长袖T恤女...<br/><span>¥49</span><i>详  情</i></a>
            </div>
            <div class="products2">
                <a href="#"><img src="imges/product4.jpg"></a>
                <a href="#" title="2015秋装新款韩版宽松长袖T恤女上衣服大码女装拼接打底衫">2015秋装新款韩版宽松长袖T恤女...<br/><span>¥49</span><i>详  情</i></a>
            </div>
            <div class="products1">
                <a href="#"><img src="imges/product5.jpg"></a>
                <a href="#" title="2015秋装新款韩版宽松长袖T恤女上衣服大码女装拼接打底衫">2015秋装新款韩版宽松长袖T恤女...<br/><span>¥49</span><i>详  情</i></a>
            </div>
            <div class="products2">
                <a href="#"><img src="imges/product6.jpg"></a>
                <a href="#" title="2015秋装新款韩版宽松长袖T恤女上衣服大码女装拼接打底衫">2015秋装新款韩版宽松长袖T恤女...<br/><span>¥49</span><i>详  情</i></a>
            </div>-->
        </div>
    </div>
</body>

</html>
