<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>首页</title>
    <script src="../plugin/app.js"></script>
    <link href="style_css/xinai.css" rel="stylesheet" type="text/css">
    <link href="style_css/reset.css" rel="stylesheet" type="text/css">
  
   

</head>

<body>
    <div id="content_box">
        <div class="main_visual" >
            <div class="flicking_con" id="container-icon">
                <!--<a href="###">1</a>
                <a href="###">2</a>
                <a href="###">3</a>-->
            </div>
            <div class="main_image">
                <ul id="container-pic">
                    <!--<li><span style="background: url(imges/banner1.jpg) center top no-repeat;background-size: cover;"  ></span></li>
                    <li><span style="background: url(imges/banner2.jpg) center top no-repeat;background-size: cover;"  ></span></li>
                    <li><span style="background: url(imges/banner3.jpg) center top no-repeat;background-size: cover;"  ></span></li>-->
                </ul>
                <a href="javascript:;" id="btn_prev"></a>
                <a href="javascript:;" id="btn_next"></a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="title_box">
            <div class="title_logo">
                <a class="company_logo" style="background: url(imges/logo.png) no-repeat 0 0;background-size: 30px;" title=""></a><span class="company_name">服饰有限公司</span></div>
        </div>
        <div class="classify_box">
            <ul class="classify_num">
                <li><a href="all_products.html"><i></i><span>所有商品</span></a></li>
                <li><a href="new_products.html"><i></i><span>新品首发</span></a></li>
                <li><a href="product_style.html"><i></i><span>品牌风格</span></a></li>
                <li><a href="partners.html"><i></i><span>合作品牌</span></a></li>
                <li><a href="about.html"><i></i><span>企业简介</span></a></li>
                <li><a href="map.html"><i></i><span>联系我们</span></a></li>
            </ul>
        </div>
    </div>
</body>

</html>
