<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>联系我们</title>
    <link href="style_css/xinaimap_css.css" rel="stylesheet" type="text/css">
    <link href="style_css/reset.css" rel="stylesheet" type="text/css">
    <script src="../plugin/app.js"></script>
</head>

<body>
<div class="content_box">

   <div class="map_box clear">
      <div class="mapimg"><i><img src="imges/map.jpg"></i><a href="#"><img src="imges/map1.png"></a> </div>
   </div>

<div class="bk20"></div>

  <div class="maptit_box clear">
         <div class="map_soild"></div>
         <div class="map_tit clear"><i><img src="imges/wenzi3.png"></i></div>
  </div>

<div class="bk20"></div>

   <div class="map_cont">
      <p>地址：中原区亚星西建材大世界北区022号</p>
      <p>邮编：450003</p>
      <p>电话：86-0371-11111111</p>
   </div>

</div>
</body>
</html>
