<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>合作品牌</title>
    <link href="style_css/Partners_css.css" rel="stylesheet" type="text/css">
    <link href="style_css/reset.css" rel="stylesheet" type="text/css">
    <script src="../plugin/app.js"></script>
</head>

<body>
    <div class="content_box">
        <div class="banner_box clear"></div>
        <div class="bk20"></div>
        <div class="title_box">
            <div class="titlt_con"><i></i>
                <h2>我们的成功合作者</h2>
                <p>选择我们不会错</p>
            </div>
        </div>
        <div class="bk10"></div>
        <div class="par_logobox">
            <ul>
                <li><a href="#" title="品牌1"><i></i></a></li>
                <li><a href="#" title="品牌2"><i></i></a></li>
                <li><a href="#" title="品牌3"><i></i></a></li>
                <li><a href="#" title="品牌4"><i></i></a></li>
                <li><a href="#" title="品牌5"><i></i></a></li>
                <li><a href="#" title="品牌6"><i></i></a></li>
                <li><a href="#" title="品牌7"><i></i></a></li>
                <li><a href="#" title="品牌8"><i></i></a></li>
            </ul>
        </div>
    </div>
</body>

</html>
