<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>品牌风格</title>
    <link href="style_css/productstyle_css.css" rel="stylesheet" type="text/css">
    <link href="style_css/reset.css" rel="stylesheet" type="text/css">
    <script src="../plugin/app.js"></script>
</head>

<body>
    <div class="content_box">
        <div class="bk15"></div>
        <div class="title_box">
            <div class="title">
                <h2>品牌风格</h2>
                <p>This is my style</p>
            </div>
        </div>
        <div>

            <div class="style_img clear">
                <ul>
                    <li><i title="风格1"><img src="imges/style_1.jpg"></i></li>
                    <li><i title="风格2"><img src="imges/style_2.jpg"></i></li>
                </ul>
            </div>
            <div class="bk15"></div>
            <div class="con_main_box clear">
                <p><span>欧美风</span>：随性、简单，不同于以简约优雅著称的英伦风，更偏向于街头类型的纽约范。它随性的同时，讲究色彩的搭配，与后期的波希米亚风融汇，应该说欧美风更广泛，带有少部分日韩气息，很国际化。</p>
            </div>
            <div class="bk20"></div>
            <div class="banner_box">
                <p title="休闲风"></p>
            </div>
            <div class="bk15"></div>
            <div class="con_main_box clear">
                <p><span>休闲风</span> : 自由、舒适，与略带雅皮情调的风格不同，这种搭配更显得亲切、阳光、活力充沛，也更适合那些仍在享受青春和奢华的年轻自由人。将繁复与简约、华丽与低调合理地搭配在一起，并努力在简约与随性中寻找时尚的风格是美式休闲的宗旨。</p>
            </div>
        </div>
    </div>
</body>

</html>
