<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>


    <!--系统设置-报表-->
    <add name="qx.system" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;database=qx.system;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True" />
    <!--权限系统-->
    <add name="qx.permission" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;database=qx.permission;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True;" />
    <!--内容系统-->
    <add name="qx.contents" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;database=qx.contents;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True;" />
    <!--订单-->
    <add name="djk.order" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;Initial Catalog=djk.order;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--账户-->
    <add name="Djk.Account" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;Initial Catalog=djk.account;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--微信 -->
    <add name="Qx.Wechat" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;Initial Catalog=Qx.Wechat;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--微信-订票-->
    <add name="wx.book_ticket" connectionString="Data Source=qxamoy.com;database=wx.book_ticket;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True;" />
    <!--微信-厨房-->
    <add name="wx.kt" connectionString="Data Source=qxamoy.com;database=wx.kt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True;" />



    <!--消息系统-->
    <add name="qx.msg" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;Initial Catalog=qx.msg;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--工作流-->
    <add name="Qx.WorkFlow" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;database=Qx.WorkFlow;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True" />
    <!--工作量.华大-->
    <add name="Qx.Wbs.Hqu" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com;Initial Catalog=Qx.Wbs.Hqu;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />



    <!--仓库-->
    <add name="Djk.Invoicing" providerName="System.Data.SqlClient" connectionString="Data Source=120.27.232.40,10385;Initial Catalog=Djk.Invoicing;Persist Security Info=False;User ID=sa;Password=Dfzh8888;MultipleActiveResultSets=true" />
    <!--快车-->
    <add name="Djk.FastCar" providerName="System.Data.SqlClient" connectionString="Data Source=120.27.232.40,10385;Initial Catalog=Djk.FastCar;Persist Security Info=False;User ID=sa;Password=Dfzh8888;MultipleActiveResultSets=true" />
    <!--会员卡-->
    <add name="Djk.VipCard" providerName="System.Data.SqlClient" connectionString="Data Source=120.27.232.40,10385;Initial Catalog=Djk.VipCard;Persist Security Info=False;User ID=sa;Password=Dfzh8888;MultipleActiveResultSets=true" />
    <!--会员-->
    <add name="Djk.Member" providerName="System.Data.SqlClient" connectionString="Data Source=120.27.232.40,10385;Initial Catalog=Djk.Member;Persist Security Info=False;User ID=sa;Password=Dfzh8888;MultipleActiveResultSets=true" />
    <!--组织机构-->
    <add name="Djk.Org" providerName="System.Data.SqlClient" connectionString="Data Source=120.27.232.40,10385;Initial Catalog=Djk.Org;Persist Security Info=False;User ID=sa;Password=Dfzh8888;MultipleActiveResultSets=true" />
    <!--员工 -->
    <add name="Djk.Employee" providerName="System.Data.SqlClient" connectionString="Data Source=120.27.232.40,10385;Initial Catalog=Djk.Employee;Persist Security Info=False;User ID=sa;Password=Dfzh8888;MultipleActiveResultSets=true" />
    <!--信用卡 -->
    <add name="Djk.CreditCard" providerName="System.Data.SqlClient" connectionString="Data Source=120.27.232.40,10385;Initial Catalog=Djk.CreditCard;Persist Security Info=False;User ID=sa;Password=Dfzh8888;MultipleActiveResultSets=true" />
    <!--提成管理-->
    <add name="Djk.Bonus" providerName="System.Data.SqlClient" connectionString="Data Source=120.27.232.40,10385;Initial Catalog=Djk.Bonus;Persist Security Info=False;User ID=sa;Password=Dfzh8888;MultipleActiveResultSets=true" />
    <!--微信.失物招领-->
    <add name="Qx.Wechat.LostAndFound" providerName="System.Data.SqlClient" connectionString="Data Source=www.fakechat.cn;Initial Catalog=Qx.Wechat.LostAndFound;Persist Security Info=False;User ID=sa;Password=JIfenKU2016!;MultipleActiveResultSets=true" />


  </connectionStrings>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <!--<connectionStrings>
    <add name="Model1" connectionString="data source=scsxxt.com;initial catalog=qx.msg;persist security info=False;user id=scsxxt;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>