


@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    群组详情:&nbsp;
    @Html.TextBox("群组详情", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的联系人名称" })
</label>

<script>
    function Search() {
        var Params = v("群组详情");
        return Params;
    }
</script>