

@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    群组:&nbsp;
    @Html.TextBox("群组", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的群组名称" })
</label>

<script>
    function Search() {
        var Params = v("群组");
        return Params;
    }
</script>