<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--系统设置-报表-->
    <add name="qx.system" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;database=qx.system;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True" />
    <!--权限系统-->
    <add name="qx.permission" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;database=qx.permission;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True;" />
    <!--权限系统.v2-->
    <add name="qx.permmision.v2" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;database=qx.permmision.v2;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True;"/>
 <!--wx.slb-->
    <add name="wx.slb" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;database=wx.slb;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True;"/>

    <!--内容系统-->
    <add name="qx.contents" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;database=qx.contents.jwxt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True;" />
    <!--订单-->
    <add name="qx.order" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;Initial Catalog=qx.order.jwxt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--账户-->
    <add name="qx.Account" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;Initial Catalog=qx.account.jwxt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--微信 -->
    <add name="qx.Wechat" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;Initial Catalog=Qx.Wechat.jwxt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--消息系统-->
    <add name="qx.msg" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;Initial Catalog=qx.msg.jwxt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--工作流-->
    <add name="Qx.WorkFlow" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;database=Qx.WorkFlow;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=True" />
    <!--组织机构-->
    <add name="qx.Org" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;Initial Catalog=Qx.Org.jwxt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--数字校园*党建-->
    <add name="ecampus.join_party" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;Initial Catalog=ecampus.join_party;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />
    <!--数字校园*迎新-->
    <add name="ecampus.yxxt" providerName="System.Data.SqlClient" connectionString="Data Source=qxamoy.com,10385;Initial Catalog=ecampus.yxxt;Persist Security Info=False;User ID=sa;Password=QxamoySQL666;MultipleActiveResultSets=true" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>