<!DOCTYPE html>
<html>
<head>
    @*    <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>*@
    <title>基于内容的可配置门户首页管理子系统</title>

    <link href="../../Content/Cosmo/bootstrap.min.css" rel="stylesheet" />
    @*<link href="../../Content/Cosmo/custom.min.css" rel="stylesheet" />*@
    @*    <link href="../../Content/Cosmo/bootswatch.css" rel="stylesheet" />
        <link href="../../Content/Cosmo/variables.css" rel="stylesheet" />*@
    @*    <script src="../../Content/Cosmo/custom.js"></script>*@
    <script src="../../Content/Cosmo/jquery-1.10.2.min.js"></script>
    <script src="../../Content/Cosmo/bootstrap.min.js"></script>
    <script src="../../Content/EasyTable/common.js"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
