@{
    Layout = ViewData["Layout"].ToString();
}

<label>
    发送人名称:&nbsp;
    @Html.TextBox("发送人名称", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的发送人名称" })
</label>

<script>
    function Search() {
        var Params = v("发送人名称");
        return Params;
    }
</script>

