<!DOCTYPE html>
<html>
<head>

    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <script src="../plugin/app.js"></script>

    <link rel="stylesheet" type="text/css" href="css/applicationMeeting.css">
    <style>
        .facebook-name {
            margin-left: 0 !important;
        }

        .facebook-date {
            margin-left: 0 !important;
        }

        .facebook-name span {
            float: right;
        }

        .facebook-date span {
            float: right;
        }
    </style>
</head>

  <body ontouchstart>
<div class="weui-navbar">
		<div class="colortitle weui-navbar__item1">
	  	<div class="weui-flex ">
	       <div style="width:60px"><div class="placeholder back"><img src="img/return.png" class="return"></div></div>
	            <div class="weui-flex__item"><div class="placeholder">当日消费记录</div></div>
	           
	            	<a href="javascript:;" class="weui-btn1 weui-btn_mini">&nbsp;&nbsp;&nbsp;&nbsp;</a>
	         
	    </div>
	    </div>    
	</div>
	<div class="weui-tab__bd">
    <div class="weui-tab__bd-item weui-tab__bd-item--active" id="contain">

        <!--<div class="card facebook-card" style="margin-top: 12px;">
            <div class="card-header">


                <div class="facebook-name">流水号：52451315465 <span></span></div>
                <div class="facebook-date">交易科目：零食大礼包 <span> </span></div>
                <div class="facebook-date">金额：20  <span> 消费后余额：12.3</span></div>
            </div>
        </div>-->
      <!--    <div class="card facebook-card" style="margin-top: 12px;">
                <div class="card-header">
                   
						     
                  <div class="facebook-name">流水号：52451315465 <span></span></div>
                  <div class="facebook-date">交易科目：高数 <span> </span></div>
                  <div class="facebook-date">金额：20  <span> 余额：12.3</span></div>
                </div>
               </div>-->
       
		</div>
		
	</div>
  
<script type="text/javascript" src="js/jquery.min.js"></script>

   </body>
</html>

