

@{
    Layout = ViewData["Layout"].ToString();
}
<label>
    联系人:&nbsp;
    @Html.TextBox("联系人", "", new { @class = "form-control input-sm", PlaceHolder = "请输入要查询的联系人表ID" })
</label>

<script>
    function Search() {
        var Params = v("联系人");
        return Params;
    }
</script>