*{
	margin:0;
	padding:0;
	outline:none;	
}

body{
	font-size:16px;
	font-family: "微软雅黑";
	line-height:2.0;
	width:80%;
	margin:5px auto;	
}

#questionnaire #title{
	text-align: center;
	font-size:22px;
	letter-spacing: 1px;
	margin:20px;
}
#questionnaire .question{
	margin:20px 0;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
	border-bottom: 1px solid #cccccc;	
	overflow: hidden;
}
#questionnaire .question span{
	padding-right:20px;
}
#questionnaire .question div{
	float:left;
	margin:2px 30px;
}

.span-sty
{
    font-size:15px;
}

.qustion-sty
{
    height:60px;
    padding:10px 0;
    width:50%;
}

.qustion-sty-list
{
    float:left;
    width:20%;
    padding:10px 10px;
}
.clear{
    height:0px;font-size:0;clear:both;
}
.tableStyle{ 
   font-size:10px;
   border:#00ffff solid 2px; 
   border-collapse:collapse; 
   margin-left:350px;
   width:800px;
   position:absolute;
   top:150px;
  } 
 td{ 
    border:#8080ff solid 2px; 
    padding:10px; 

  } 
 .questionimg {
     width:300px ;
     height:150px;
     display: block;
 }
 .optionimg {
     width:150px ;
     height:75px;
     display: block;
 }