<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>后台管理NetCoreV2.0</title>
    <script src="../plugin/app.js"></script>  
</head>
<body>

<div id="wrapper">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!--<img src="img/logo.png" style="height: 50px; width: 150px;"/>-->
    <p style="display:inline-block; color: white;font-size:20px"></p>
    <a class="navbar-brand qx-menu sever-info" data-title="调试模式-Form" data-url="*f/core/test/all">后台管理 NetCoreV2.0</a>
    <!--<a class="navbar-brand qx-menu" data-title="报表管理" data-url="*r/core/report/index">报表管理</a>-->
</div>
<ul class="nav navbar-nav" id="top-menu"></ul>
<!-- /.navbar-header -->
<ul class="nav navbar-top-links navbar-right">
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
        <span style="background-color: #0088cc;" id="workflow-tasks-num" class="badge"></span>
    </a>
    <ul class="dropdown-menu dropdown-messages" id="workflow-tasks">
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
            </a>
        </li>

        <li>
            <a class="text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-messages -->
</li>
<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
        <span style="background-color: #0088cc;" class="badge"></span>
    </a>
    <ul class="dropdown-menu dropdown-tasks">
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 1</strong>
                        <span class="pull-right text-muted">40% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 2</strong>
                        <span class="pull-right text-muted">20% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 3</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 4</strong>
                        <span class="pull-right text-muted">80% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Tasks</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-tasks -->
</li>
<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-alerts -->
</li>
<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>
        <span id="nick_name"></span>
        <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="#"><i class="fa fa-user fa-fw"></i><span id="user_id"></span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> <span id="unit_name"></span></a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 安全退出</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" id="search-menu" class="form-control" placeholder="搜索功能...">
                    <span class="input-group-btn">
                                <button id="bt_clean" class="btn btn-default" type="button">
                                    <i class="fa fa-undo"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>


        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>
<div id="page-wrapper" >
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">欢迎进入系统</h1>

    </div>
    <div class="module_contain" style="width: 900px; height: 500px;margin: 200px auto">
        <div class="module" style="width: 420px; height: 200px; background: rgb(219, 86, 44); float: left">
            <img src="img/1206675.png" style="width: 110px; height: 110px; margin: 40px 80px">
            <p style="font-size: 20px; color: white; float: right; margin-right: 50px; margin-top:80px;display: block;">供应商管理 </p>
        </div>
        <div class="module" style="width: 200px; height: 200px; margin-left: 20px; background: rgb(100, 82, 163); float: left">
            <img src="img/1206676.png" style="width: 100px; height: 100px; margin: 30px 50px">
            <p style="font-size: 20px; color: white; margin: 0;text-align: center">消息</p>
        </div>
        <div class="module" style="width: 200px; height: 200px; margin-left: 20px; background: rgb(64, 64, 64); float: left">
            <img src="img/1206674.png" style="width: 100px; height: 100px; margin: 30px 50px">

            <p style="font-size: 20px; color: white; margin: 0;text-align: center">取消</p>
        </div>
        <div class="module" style="width: 200px; height: 200px; margin-top: 20px; background: rgb(223, 147, 22); float: left">

            <img src="img/1206679.png" style="width: 100px; height: 100px; margin: 30px 50px">
            <p style="font-size: 20px; color: white; margin: 0;text-align: center">节日管理</p>
        </div>
        <div class="module" style="width: 200px; height: 200px; margin-top: 20px; margin-left: 20px; background: rgb(211, 211, 211); float: left">

            <img src="img/1206689.png" style="width: 100px; height: 100px; margin: 30px 50px">
            <p style="font-size: 20px; color: white; margin: 0;text-align: center">商品管理</p>
        </div>
        <div class="module" style="width: 200px; height: 200px; margin-top: 20px; margin-left: 20px; background: rgb(48, 183, 221); float: left">

            <img src="img/1206688.png" style="width: 100px; height: 100px; margin: 30px 50px">
            <p style="font-size: 20px; color: white; margin: 0;text-align: center">日常任务</p>
        </div>
        <div class="module" style="width: 200px; height: 200px; margin-top: 20px; margin-left: 20px; background: rgb(0, 74, 126); float: left">

            <img src="img/1206708.png" style="width: 100px; height: 100px; margin: 30px 50px">
            <p style="font-size: 20px; color: white; margin: 0;text-align: center">退出</p>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

</body>
</html>
